# Virtual Environment
venv/

# API Keys / Sensitive Data
.env

# Python Artifacts
__pycache__/
*.pyc

# OS files
.DS_Store

# Vector Storage
chroma_db/

# Data 
data/

# Streamlit cache + logs
.streamlit/
*.log

# Extras
*.png
*.pdf